n8n/workflow.json
{
  "name": "SMS Agent — Daily 9AM Trigger",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 9AM Cron",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "app-url",
              "name": "appUrl",
              "value": "http://localhost:3000",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Config').item.json.appUrl }}/api/agent/trigger",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "n8n-cron"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "http-trigger-agent",
      "name": "Trigger SMS Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [940, 300]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconsole.log('✅ SMS Agent SUCCESS');\nconsole.log('Ticket:', result.result?.ticketKey);\nconsole.log('Score:', result.result?.testScore);\nconsole.log('Deploy URL:', result.result?.deployUrl);\nconsole.log('Files:', result.result?.filesGenerated);\nreturn [{ json: result }];"
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 200]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconsole.error('❌ SMS Agent FAILED');\nconsole.error('Error:', result.error);\nreturn [{ json: result }];"
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 420]
    }
  ],
  "connections": {
    "Daily 9AM Cron": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Trigger SMS Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger SMS Agent": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "sms-agent-workflow"
  }
}
